<div class="header">
    <div class="container-fluid">

        <a class="header-buttons" style="float:left; margin-bottom: 12px; margin-left: 0;" [routerLink]="['/home']">
            <img class="header-buttons" style="float:left; margin-top: 0;" alt="Brand" src="http://www.macupdate.com/images/icons256/47210.png" width="50" height="50">
        </a>

        <a class="button header-buttons" style="float:left;" [routerLink]="['/home']">Home</a>

        <a class="button header-buttons" style="float:left;" [routerLink]="['/about']">About</a>

        <div class="dropdown">
            <a class="button header-buttons" style="float: left; color:goldenrod" data-toggle="dropdown" id="dropdownTeamButton" aria-expanded="false" aria-haspopup="true" role="button">Teams</a>
            <div class="dropdown-menu dropdown-menu" aria-labelledby="dropdownTeamButton" style="top: 72px; left:317px">
                <ul style="list-style-type: none; padding: 0; margin: 0;">
                    <li *ngFor="let team of teams">
                        <a class="dropdown-item" [routerLink]="['/team',team.teamId]" style="color: white; float: left;">{{team.teamName}}
                        <img src="{{team.teamPicture}}" style="width: 40px; float: right; margin-left: 10px"/>
                        </a>
                    </li>
                </ul>
            </div>
        </div>

        <div class="dropdown">
            <a class="button header-buttons" style="float: left; color:goldenrod;" data-toggle="dropdown" id="dropdownTournamentButton" aria-expanded="false" aria-haspopup="true" role="button">Tournaments</a>
            <div class="dropdown-menu dropdown-menu" aria-labelledby="dropdownTournamentButton" style="top: 72px; left:420px">
                <ul style="list-style-type: none; padding: 0; margin: 0;">
                    <li *ngFor="let tournament of tournaments">
                        <a class="dropdown-item" [routerLink]="['/tournament',tournament.tournamentId]" style="color: white; float: left; font-size: 11px">
                            {{tournament.tournamentName}} [Season {{tournament.season}}]
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    
        <a *ngIf="!signedIn" class="button header-buttons" style="float:right;" [routerLink]="['/sign-in']">Sign In</a>
        <div *ngIf="signedIn">
            <a class="button header-buttons navmenu-logout" style="float:right; color: goldenrod; cursor: pointer" (click)="logout()">Logout</a>
            <img class="navmenu-img" style="cursor: pointer" [routerLink]="['/profile', userId]" src={{champion}} />
        </div>
        <form class="form-inline" style="float:right;">
            <input type="text" name="searchbar" placeholder="Search..." />
        </form>
            

    </div>
</div>