
.header-buttons {
    color: goldenrod;
    line-height: 50px;
    font-size: medium;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin-top: 12px;
    margin-left: 20px;
    margin-right: 20px;
    border: none;
    background: transparent;
}

    .header-buttons:hover {
        color: #3399ff;
        text-decoration: none;
    }

.header {
    width: 100vw;
    height: 10vh;
    background:rgba(0, 0, 0, 0.3);
    position: absolute;
    top: 0;
    z-index:2;
}

form {
    display: inline-block;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 15px
}

input[type=text] {
    color: white;
    padding: 6px;
    border: none;
    margin-left: 40px;
    margin-right: 40px;
    font-size: medium;
    background: rgba(0, 0, 0, 0.3);
}