<div class="header">
    <div class="container-fluid">

        <a class="header-buttons" style="float:left; margin-bottom: 12px; margin-left: 0;" [routerLink]="['/home']">
            <img class="header-buttons" style="float:left; margin-top: 0;" alt="Brand" src="http://www.macupdate.com/images/icons256/47210.png" width="50" height="50">
        </a>

        <a class="button header-buttons" style="float:left;" [routerLink]="['/home']">Home</a>

        <a class="button header-buttons" style="float:left;" [routerLink]="['/about']">About</a>

        <a class="button header-buttons" style="float:right;" [routerLink]="['/sign-in']">Sign In</a>

        <form class="form-inline" style="float:right;">
            <input type="text" name="searchbar" placeholder="Search..." />
        </form>
            

    </div>
</div>