<div class="tournament-page">
    <div class="tournament-header">
        <div class="tournament-title">
            {{t.tournamentName}}
            <br />
            <span class="tournament-subtitle">Season {{t.season}}</span>
        </div>
        <div class="row">
            <div class="col-xs-4">

            </div>
            <div class="col-xs-4">
                <img class="tournament-img-2" src="https://vignette.wikia.nocookie.net/leagueoflegends/images/6/69/Clash_Level_5_Flag_Frame.png/revision/latest/scale-to-width-down/640?cb=20180506134831" />
                <img class="tournament-img" src={{t.tournamentBanner}} />
            </div>
            <div class="col-xs-4 tournament-bg">
                <img *ngIf="gif == 0" class="tournament-gif" src="../../../assets/gif1.gif" />
                <img *ngIf="gif == 1" class="tournament-gif" src="../../../assets/gif2.gif" />
                <img *ngIf="gif == 2" class="tournament-gif" src="../../../assets/gif3.gif" />
            </div>
        </div>
    </div>
    
    <div class="tournament-bracket">
        <div class="semifinals">
            <div class="col-xs-4" style="border-right: 1px solid white">
                <h1>Quarterfinals</h1>
                <div style="cursor: pointer" [routerLink]="['/team', t.playsoffs[0].losingTeam.teamId]" class="box1 loser">
                    <img class="box-img" src={{t.playsoffs[0].losingTeam.teamPicture}} />{{t.playsoffs[0]?.losingTeam.teamName}}
                </div>
                <div style="cursor: pointer" [routerLink]="['/team', t.playsoffs[0].winningTeam.teamId]" class="box1 winner">
                    <img class="box-img" src={{t.playsoffs[0].winningTeam.teamPicture}} />{{t.playsoffs[0].winningTeam.teamName}}
                </div>
                <br />
                <div style="cursor: pointer" [routerLink]="['/team', t.playsoffs[1].winningTeam.teamId]" class="box1 winner">
                    <img class="box-img" src={{t.playsoffs[1].winningTeam.teamPicture}} />{{t.playsoffs[1].winningTeam.teamName}}
                </div>
                <div style="cursor: pointer" [routerLink]="['/team', t.playsoffs[1].losingTeam.teamId]" class="box1 loser">
                    <img class="box-img" src={{t.playsoffs[1].losingTeam.teamPicture}} />{{t.playsoffs[1].losingTeam.teamName}}
                </div>
            </div>
            <div class="col-xs-4" style="border-right: 1px solid white">
                <h1>Semifinals</h1>
                <div style="cursor: pointer" [routerLink]="['/team', t.playsoffs[2].losingTeam.teamId]" class="box1 loser">
                    <img class="box-img" src={{t.playsoffs[2].losingTeam.teamPicture}} />{{t.playsoffs[2]?.losingTeam.teamName}}
                </div>
                <div style="cursor: pointer" [routerLink]="['/team', t.playsoffs[2].winningTeam.teamId]" class="box1 winner">
                    <img class="box-img" src={{t.playsoffs[2].winningTeam.teamPicture}} />{{t.playsoffs[2].winningTeam.teamName}}
                </div>
                <br />
                <div style="cursor: pointer" [routerLink]="['/team', t.playsoffs[3].losingTeam.teamId]" class="box1 loser">
                    <img class="box-img" src={{t.playsoffs[3].losingTeam.teamPicture}} />{{t.playsoffs[3].losingTeam.teamName}}
                </div>
                <div style="cursor: pointer" [routerLink]="['/team', t.playsoffs[3].winningTeam.teamId]" class="box1 winner">
                    <img class="box-img" src={{t.playsoffs[3].winningTeam.teamPicture}} />{{t.playsoffs[3].winningTeam.teamName}}
                </div>
            </div>
            <div class="col-xs-4">
                <h1>Finals</h1>
                <div style="cursor: pointer" [routerLink]="['/team', t.playsoffs[4].winningTeam.teamId]" class="box1 finals">
                    <img class="box-img" src={{t.playsoffs[4].winningTeam.teamPicture}} />{{t.playsoffs[4]?.winningTeam.teamName}}
                </div>
                <div style="cursor: pointer" [routerLink]="['/team', t.playsoffs[4].losingTeam.teamId]" class="box1 loser">
                    <img class="box-img" src={{t.playsoffs[4].losingTeam.teamPicture}} />{{t.playsoffs[4].losingTeam.teamName}}
                </div>
            </div>
        </div>
    </div>
    <div class="tournament-standings">
        <h1 style="text-transform: uppercase" class="standings-title">Standings</h1>
        <table class="tournament-table table table-hover table-dark">
            <tbody>
                <ng-container *ngFor="let team of t.standings; let i = index">
                    <tr style="cursor:pointer" [routerLink]="['/team', team.teamId]">
                        <th class="team-place" scope="row">{{i+1}}</th>
                        <td style="font-size: 40px; font-family: Oswald; line-height: 90px" [routerLink]="['/team', team.teamId]"><img class="team-img" src={{team.teamLogo}} />{{team.teamName}}</td>
                        <td class="team-score">{{team.wins}} - {{team.losses}}</td>
                    </tr>
                </ng-container>
            </tbody>
        </table>
    </div>
    <div class="tournament-matches">
        <h1 style="font-size: 50px; color: white; font-family: Oswald; text-align: center; text-transform: uppercase">Match Schedule</h1>
        <table class="tournament-table table table-hover table-dark">
            <tbody>
                <ng-container *ngFor="let match of t.matches; let x = index">
                    <tr class="match-text" style="cursor: pointer" [routerLink]="['/match', match.matchId]">
                        <td *ngIf="random_arr[x]" class="match-vs"><img class="schedule-img" src={{match.losingTeam.teamPicture}} />{{match.losingTeam.teamName}}</td>
                        <td *ngIf="random_arr[x]"><span class="vs-text">VS</span></td>
                        <td *ngIf="random_arr[x]" class="match-vs win"><img class="schedule-img" src={{match.winningTeam.teamPicture}} />{{match.winningTeam.teamName}}</td>
                        <td *ngIf="!random_arr[x]" class="match-vs win"><img class="schedule-img" src={{match.winningTeam.teamPicture}} />{{match.winningTeam.teamName}}
                        <td *ngIf="!random_arr[x]"><span class="vs-text">VS</span></td>
                        <td *ngIf="!random_arr[x]" class="match-vs"><img class="schedule-img" src={{match.losingTeam.teamPicture}} />{{match.losingTeam.teamName}}</td>
                        <td class="match-date">{{match.datePlayed}}</td>
                    </tr>
                </ng-container>
            </tbody>
        </table>
    </div>
</div>