.player-page {
    background: #222;
    padding-top: 75px;
    overflow-x: hidden;
}

.player-title {
    font-size: 30px;
    color: #e9ecef;
}

.player-text {
    font-size: 25px;
    color: #e9ecef;
}

.player-jumbotron {
    background-color: transparent;
    margin-bottom: 10px;
    padding-bottom: 10px;
    padding-top: 10px;
}

.player-image {
    width: 60vw;
    height: auto;
    max-width: 600px;
    min-width: 350px;
    display: block;
    margin: 0 auto;
}

.player-header {
    border-bottom: groove 2px #595c5e;
    display: block;
    margin: 0 auto;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.player-name {
    color: #e9ecef;
    font-size: calc(6vw + 15px);
    text-align: center;
    font-family: Oswald;
    -webkit-text-stroke-width: 4px;
    -webkit-text-stroke-color: black;
    text-shadow: 8px 8px 0 #000, -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}

.player-real-name {
    color: #e9ecef;
    font-size: calc(2vw + 5px);
    text-align: center;
    font-family: Oswald;
    margin-top: -5px;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: black;
    text-shadow: 2px 2px 0 #000, -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}


.player-team {
    color: #C4C7CB;
    font-size: calc(5vw + 5px);
    text-align: center;
    font-family: 'Pathway Gothic One', sans-serif;
    margin-bottom: -50px;
    margin-top: -20px;
}

.player-stats {
    padding-top: 20px;
    border-bottom: groove 2px #595c5e;
    background: rgb(43,42,42);
    background: linear-gradient(169deg, rgba(43,42,42,1) 0%, rgba(73,72,71,1) 100%, rgba(70,55,20,1) 100%);
}

.player-role {
    display: inline;
}

.player-bio {
    padding: 40px;
}

.player-bio-text {
    font-size: 22px;
    color: #e9ecef;
}

.player-info {
    color: #C4C7CB;
    font-size: 20px;
}

.player-info-img {
    margin: 0 auto;
    display: block;
}

.player-background {
    height: 100%;
    width: 100%;
    position: absolute;

}

.player-btn {
    position: absolute;
    top: 90px;
    right: 25px;
    background: url(https://cdn.leagueoflegends.com/riotbar/prod/1.6.180/images/account/sprites-s2a5147f733.png) 0 -293px;
    color: #b49a5d;
    font-size: 13px;
    line-height: 32px;
    font-family: "Merriweather Sans", sans-serif;
    padding: 5px 0px;
    border: none;
}

.team-btn {
    font-family: 'Pathway Gothic One', sans-serif;
    position: absolute;
    top: 90px;
    left: 25px;
    color: white;
    font-size: 25px;
    padding: 10px 20px;
    border: white solid 1px;
    border-radius: 0;
    background: transparent;
    transition: background 0.5s, color 0.5s, border-color 0.5s;
}

.team-btn:hover {
    background: white;
    color: black;
    border-color: black;
}

    .player-btn:hover {
        background: url(https://cdn.leagueoflegends.com/riotbar/prod/1.6.180/images/account/sprites-s2a5147f733.png) 0 -237px;
    }

.player-quote {
    font-size: 27px;
    color: #e9ecef;
    font-weight: lighter;
    font-style: oblique;
}