.background-image {
    background-image: url(https://cdn.esportsmatrix.com/lol/content/images/uploaded/cms/2018/Feb/128/WORLD.png);
    background-size: contain;
    background-repeat: no-repeat;
    position: absolute;
    width: 100vw;
    height: 100vh;
    z-index: -3;
    object-fit: cover;
}

.container {
    position: relative;
    width: 100vw;
    height: 100vh;
    padding-left: 0;
    padding-right: 0;
}

.body_text {
    color: white;
}

.text-block {
    color: white;
    background: rgba(0, 0, 0, 0.85);
    margin-top: 90px;
    margin-left: 1vw;
    margin-right: 1vw;
    border-radius: 25px;
    border: 2px solid;
    border-color: darkgoldenrod;
    padding: 20px;
    font-size: medium;
}
